################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build*
/.cache
/.vscode
/Testing
/msvc_build
